{{ install_license }}
{{ install_repo }}
{{ install_zldap }}
{{ install_zlogger }}
{{ install_zmta }}
{{ install_zdnscache }}
{{ install_zsnmp }}
{{ install_zstore }}
{{ install_zapache }}
{{ install_zspell }}
{{ install_zmemcached }}
{{ install_zproxy }}
{{ install_zchat }}
{{ install_zdrive }}
{{ install_zimapd }}
{{ install_zmodified }}
