{{ install_license |lower }}
{{ install_repo |lower }}
{{ install_zldap |lower }}
{{ install_zlogger |lower }}
{{ install_zmta |lower }}
{{ install_zdnscache |lower }}
{{ install_zsnmp |lower }}
{{ install_zstore |lower }}
{{ install_zapache |lower }}
{{ install_zspell |lower }}
{{ install_zmemcached |lower }}
{{ install_zproxy |lower }}
{{ install_zchat |lower }}
{{ install_zdrive |lower }}
{{ install_zimapd |lower }}
{{ install_zmodified |lower }}
